@import 'helpers';

:host {
  position: absolute;
  top: 56px;
  left: 0px;
  display: block;
  height: calc(80vh - 56px);
  // height: 100%;
  
  @include media-phone(){
    top: 64px;
    height: calc(80vh - 64px);
  }

  width: 100%;
  overflow: hidden;
}

.navigation-buttons-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 20vh;
  background-color: white;
  // padding: 20px;
  display: flex;
  // align-content: stretch;
  justify-content: center;

  button {
    flex-basis: 0;
    flex-grow: 1;
    margin: auto 5px;
    height: 100%;
    max-height: 50px;
  }
  button:first-child{
    margin-left: 10px;
  }
  button:last-child{
    margin-right: 10px;
  }

}
