<app-building-viewer></app-building-viewer>
<div [class.mat-elevation-z12]="!isActive" class="navigation-buttons-container"
  (window:keydown.arrowleft)="backwardPressed()"
  (window:keyup.arrowleft)="backwardReleased()"
  (window:keydown.arrowright)="forwardPressed()"
  (window:keyup.arrowright)="forwardReleased()"
>
  <button mat-raised-button color="primary" 
    (mousedown)="backwardPressed()"
    (touchstart)="backwardPressed()"
    (mouseup)="backwardReleased()"
    (touchend)="backwardReleased()">Backward</button>
  <button mat-raised-button color="primary" 
    (mousedown)="forwardPressed()" 
    (touchstart)="forwardPressed()" 
    (mouseup)="forwardReleased()"
    (touchend)="forwardReleased()">Forward</button>
</div>