<p class="title primary-color">
  HR Routeplanner
</p>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/" color="primary"><mat-icon>home</mat-icon> Home</a>

  <!-- Temp route links -->
  <a mat-list-item routerLink="/test"><mat-icon>build</mat-icon> Test</a>
  <a mat-list-item routerLink="/building-navigation"><mat-icon>3d_rotation</mat-icon> Building Navigation</a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-list>
 <mat-list-item><mat-icon>format_paint</mat-icon> <mat-slide-toggle [checked]="storedDarkmode" (change)="changeTheme($event);">Dark mode</mat-slide-toggle></mat-list-item>
</mat-list>
