@import 'helpers';

section {
  max-width: 1200px;
  margin: 0;
  overflow-x: auto;

  table {
    width: 100%;

    .mat-row {
      cursor: pointer;
    }
  }

  .error-msg {
    color: #cc3333;
    font-weight: bold;
  }
}

@include media-tablet(){
  section {
    margin: 16px auto;
  }
}