@import 'helpers';

mat-card {
  margin: 10px auto;
  max-width: 300px;

  form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    button.next {
      width: 100%;
    }
  }
}

@include media-tablet(){
  mat-card {
    margin: 20px auto;
  }
}
