@import 'helpers';

mat-card {
  margin: 10px auto;
  max-width: 300px;

  form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    mat-slide-toggle{
      margin-bottom: 1.25em;
    }

    button.next {
      width: 100%;
    }
  }
}

.error-msg {
  color: #cc3333;
  font-weight: bold;
}

@include media-tablet(){
  mat-card {
    margin: 20px auto;
  }
}
