<section>
  <div class="map-container">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [streetViewControl]="false"
      [clickableIcons]="false"
      (mapReady)="onMapReady($event)"
      ></agm-map>
  </div>
  
  <!-- TODO convert to directions component -->
  <div class="directions">
    <div class="settings-bar">
      <mat-form-field>
        <mat-label>Travel mode</mat-label>
        <mat-select [(ngModel)]="travelMode" (selectionChange)="getDirections()">
          <mat-option *ngFor="let mode of travelModes" [value]="mode.value">
            {{ mode.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="travelMode == 'TRANSIT'">
        <mat-form-field>
          <mat-label>Preferred transit</mat-label>
          <mat-select [(ngModel)]="transitMode" (selectionChange)="getDirections()" multiple>
            <mat-option *ngFor="let mode of transitModes" [value]="mode.value">
              {{ mode.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="fastestRoute" (change)="getDirections()">Fastest route</mat-slide-toggle>

        <mat-slide-toggle [(ngModel)]="stateData.departNow" (change)="onDepartNowChange()">Depart now</mat-slide-toggle>

        <div class="time-settings" *ngIf="!stateData.departNow">
          <mat-form-field>
            <mat-label>Time mode</mat-label>
            <mat-select [(ngModel)]="stateData.timeMode" (selectionChange)="getDirections()">
              <mat-option *ngFor="let option of timeModeOptions" [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Time" [ngxTimepicker]="picker" [format]="24" [(ngModel)]="stateData.time" (change)="getDirections()">
            <mat-icon matSuffix>schedule</mat-icon>
            <ngx-material-timepicker #picker [ngxMaterialTimepickerTheme]="timepickerTheme" (closed)="getDirections()"></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </ng-container>
    </div>

    <p class="time-info">{{ timeInfo }}</p>
    <ul>
      <li *ngFor="let direction of directions">
        <div *ngIf="travelMode != 'TRANSIT'" class="icon"><img src="/assets/maneuvers-2x.png" [style.top]="getIconPosition(direction)" /></div>
        <div class="instructions" [innerHTML]="direction.instructions | safeHTML"></div>
        <div class="transit-instructions" *ngIf="direction.hasOwnProperty('transit')">
          <mat-icon>transit_enterexit</mat-icon> {{ direction.transit.departure_stop.name }}<br>
          <mat-icon>more_vert</mat-icon> <b>{{ direction.transit.line.short_name }} {{ direction.transit.headsign }}</b><br>
          <mat-icon style="transform: rotate(-90deg);">transit_enterexit</mat-icon> {{ direction.transit.arrival_stop.name }}
        </div>
        <ul class="steps">
          <li *ngFor="let step of direction.steps">
            <div *ngIf="step.maneuver.length > 0" class="icon"><img src="/assets/maneuvers-2x.png" [style.top]="getIconPosition(step)" /></div>
            <div class="instructions" [innerHTML]="step.instructions | safeHTML"></div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
