@import '~@angular/material/theming';
@import 'helpers';

section {
  display: flex;
  flex-direction: column;

  .map-container {
    width: 100%;
    height: 40vh;

    agm-map {
      height: 40vh;
      color: #000;
    }
  }

  .time-info {
    margin: 8px 16px 12px;
  }

  .directions {
    flex: 1 0 auto;
    max-height: calc(60vh - 56px);
    overflow-y: auto; 

    .settings-bar {
      padding: 8px 12px 0;
      overflow-x: auto;
      white-space: nowrap;
      @include mat-elevation(2);

      * {
        display: inline-block;
      }

      mat-form-field, mat-slide-toggle {
        padding-right: 8px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 8px;
        border-bottom: 2px solid rgba(0,0,0,.3);

        .icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-top: 4px;
          overflow: hidden;
          vertical-align: top;

          img {
            position: relative;
            width: 19px;
          }
        }

        .instructions {
          display: inline-block;
          padding-left: 8px;
        }

        .distance {
          padding-left: 8px;
          vertical-align: top;
        }

        .transit-instructions {
          padding-left: 8px;

          mat-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
          }
        }

        .steps li {
          border-bottom: none;
          padding: 3px 8px;
        }
      }
    }

    .next-btn {
      padding: 8px;
    }
  }
}

@include media-tablet(){
  section {
    .directions {
      max-height: calc(60vh - 64px);

      ul li {
        .distance {
          display: inline-block;
        }
      } 
    }
  }
}

@include media-desktop(){
  section {
    flex-direction: row;
    width: 100%;
    max-height: calc(100vh - 64px);

    .map-container {
      width: 40%;
      height: initial;

      agm-map {
        height: calc(100vh - 64px);
      }
    }

    .directions {
      flex: 1 1 auto;
      max-height: initial;

      .settings-bar {
        white-space: normal;

        .time-settings{
          display: block;
        }
      }
    }
  }
}
