@import 'helpers';

section {
  display: flex;
  flex-direction: column;

  .map-container {
    width: 100%;
    height: 40vh;

    agm-map {
      height: 40vh;
    }
  }

  .directions {
    flex: 1 0 auto;
    max-height: calc(60vh - 56px);
    overflow-y: auto; 

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 8px;
      }
    }
  }
}

@include media-tablet(){
  section {
    .directions {
      max-height: calc(60vh - 64px);
    }
  }
}

@include media-desktop(){
  section {
    flex-direction: row;
    width: 100%;
    max-height: calc(100vh - 114px);

    .map-container {
      width: 40%;
      height: initial;

      agm-map {
        height: calc(100vh - 114px);
      }
    }

    .directions {
      flex: 1 1 auto;
      max-height: initial;
    }
  }
}
