<section>
  <h2>{{electionCourse.name}}</h2>
  <p>Course code: {{ electionCourse.courseCode }}</p>
  <p>Period: {{ electionCourse.period }}</p>
  <p>Group: {{ electionCourse.groupNumber }}</p>
  <p>Classroom: {{ electionCourse.classroom }}</p>
  <p>Location: {{ electionCourse.location }}</p>
  <p>Teacher: {{ electionCourse.teacher }}</p>
  <p>
    Day & time: {{ electionCourse.dayOfTheWeek }}<span *ngIf="electionCourse.startTime.length > 0">, {{ electionCourse.startTime }}</span><span *ngIf="electionCourse.endTime.length > 0"> - {{ electionCourse.endTime }}</span>
  </p>
  <p *ngIf="errorMessage.length > 0" class="error">{{ errorMessage }}</p>

  <button mat-raised-button routerLink="/election-courses">Back</button>

  <h3>Description</h3>
  <p class="description">{{electionCourse.description}}</p>
</section>