@import 'helpers';

section {
  margin: 5px 0;
  width: 100%;

  button.create {
    margin: 10px 0;
  }

  table {
    width: 100%;

    tr.example-detail-row {
      height: 0;
    }  

    .example-element-row td {
      border-bottom-width: 0;
    }

    .example-element-detail {
      overflow: hidden;
      display: flex;
    }

    mat-form-field {
      padding: 0 5px;
    }

    form {
      margin: 5px 0;
    }

    .btn-delete {
      color: red;
    }
  }
}

@include media-tablet(){
  section {
    margin: 20px auto;
    width: 90vw;
  }
}

@include media-desktop(){
  section {
    margin: 50px auto;
    width: 70vw;
  }
}
