<div class="credit">
  <span>HR Routeplanner</span>
  <span class="filler"></span>
  <span>Made by 
    <a href="https://github.com/Matthbo" target="_blank" rel="noopener author">Matt</a>, 
    <a href="https://github.com/Pedro-Bronsveld" target="_blank" rel="noopener author">Pedro Bronsveld</a>, 
    <a href="https://github.com/Bramgus12" target="_blank" rel="noopener author">Bram Gussekloo</a>, 
    <a href="https://github.com/guanhaowu" target="_blank" rel="noopener author">Guan Hao Wu</a>
  </span>
</div>
